.footer{
    margin-top: 50px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(157, 135, 135);
    /* overflow: hidden; */
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.footer p{
    color:white;
    height: 100px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 2vw;
}