/*section 和 welcome*/
*{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif !important;
}
body{
    -webkit-overflow-scrolling: touch;
}
.section1 {
    padding-top: 0px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-size:100%;
    overflow: hidden;
}
.sect1_img{
    background-image: url('./media/background.jpg'); /*圖片*/
    background-size: cover;
    background-position: center;
    /* -webkit-filter:hue-rotate(180deg) brightness(.3);*/
    /* -webkit-filter:brightness(.4); */
    /*background-color: rgb(255, 253, 250) ;*/
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    opacity: 0.90;
    z-index: -3;
    transition: -webkit-filter linear .2s;
}
.myimg{
    position: fixed;
    width: 100%;
    height: 100%;
}
.Welcome{
    position: absolute;
    height: 100%;
    width: 90%;
    display: block;
    top:0%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 95%;
}
@keyframes rgbCycle {
    0% { box-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 10px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1),0 0 55px rgba(255, 0, 0, 1); }
    33% { box-shadow: 0 0 10px rgba(0, 255, 0, 1), 0 0 10px rgba(0, 255, 0, 1), 0 0 20px rgba(0, 255, 0, 1),0 0 55px rgba(0, 255, 0, 1); }
    67% { box-shadow: 0 0 10px rgba(0, 0, 255, 1), 0 0 10px rgba(0, 0, 255, 1), 0 0 20px rgba(0, 0, 255, 1),0 0 55px rgba(0, 0, 255, 1); }
    100% { box-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 10px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1),0 0 55px rgba(255, 0, 0, 1); }
  }

.Welcome img{
    margin-top: 20vh;
    border-radius:10px;
    display: block;
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    cursor: help;
    opacity: 45%;
    animation: rgbCycle 5s linear infinite;
}
.Welcome_btn{   
    background-color: #ffffff8f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 40px auto 10px auto;
    width: 70%;
    height: 10%;
    border-radius:2px !important;
    -webkit-border-radius:2px !important;
    position: relative;
}
.Welcome_btn_div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    user-select:none;
    transition: all .5s ease;
}
.Welcome_btn p{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center  ;
    font-size: 3.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color:#111;
}
.Welcome_btn :hover{ 
    transform: scale(1.02);
    box-shadow: 0 0 10px #ff0;
    background-color: #e3ea8a;
    border-radius:8px;
    cursor: pointer;
    box-shadow: 0 0 5px #ffe100,
    0 0 25px #ffe100,
    0 0 50px #ffe100,
    0 0 100px #ffe100;
}
.Welcome_btn :active{
    background-color: #e3ea8a;
}
.Welcome_btn :focus {
    background-color: #e3ea8a;
  }
.Welcome_btn span {
    position: absolute;
    display: block;
    z-index: 1;
    /*background: linear-gradient(90deg, transparent, #ff0);*/
    background: linear-gradient(90deg, transparent, #ff0);
}

/*選取第一個元素*/
.Welcome_btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 6px;
    animation: Welcome_btn-anim1 1s linear infinite; /*linear定義動畫轉變時時間的加速曲線 infinite無限撥放*/    
}
.Welcome_btn span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 6px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0);
    animation: Welcome_btn-anim2 1s linear infinite;;
    animation-delay: 0.5s
     /*linear定義動畫轉變時時間的加速曲線 infinite無限撥放*/
}
.Welcome_btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 6px;
    background: linear-gradient(270deg, transparent, #ff0);
    animation: Welcome_btn-anim3 1s linear infinite;
    animation-delay: 1s
    ;

}
.Welcome_btn span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 6px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ff0);
    animation: Welcome_btn-anim4 1s linear infinite;
    ;
    animation-delay: 1.5s
   /*linear定義動畫轉變時時間的加速曲線 infinite無限撥放*/    
}
@keyframes Welcome_btn-anim1 {
    /*預設值*/
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
@keyframes Welcome_btn-anim2 {
    /*預設值*/
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
@keyframes Welcome_btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}
@keyframes Welcome_btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
  }


.sect1_more{
    width: 100%;
    height: auto;
    font-size: 4vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 5px rgb(144, 144, 144);
    position: absolute;
    bottom: 5%;
    color:#ffffff
}
.section2{
    /* background-color: #222;
    background-color: #2222228e; */
    opacity: 100%;
    height: calc(250vh - 53px);
    width: 100%;
    position: relative;
    overflow:hidden;
    overflow-y:auto;
}
.sect2_content{
    color:#fff;
    height: calc(100vh - 53px); 
    width: 100%;
} /*重要*/

.sect2_title{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    box-shadow:0px 10px 10px rgb(251, 216, 136);
}
.sect2_title p{
    display: block;
    width: 100%;
    position: relative;
    color:#eee; /*10vh*/
    font-size: min(15vh,15vw); 
    -webkit-text-stroke: 1px rgb(251, 245, 152);  
    text-shadow: 0px 0px 8px rgb(255, 217, 0);
    margin: 5px;
    transition: transform linear .2s;
}
.sect2_title p:nth-child(1){
    transform: translateX(-100%);
}
.sect2_title p:nth-child(2){
    transform: translateX(100%);
}
@keyframes borderbreathing{
    0%{
        box-shadow:0 0 10px rgb(250, 233, 186);
    }
    50%{
        box-shadow:0 0 40px rgb(250, 233, 186);
    }
    100%{
        box-shadow:0 0 10px rgb(250, 233, 186);
    }
}
.sect2_sentence{
    background-color: rgba(251, 232, 149, 0.144)  ;
    border-radius: 25px !important;
    color:rgb(255, 255, 255);
    padding: 2%;
    margin: 5px;
    margin-top: 40px;
    /* height: calc(100vh - 2 * min(15vh,15vw) - 53 - 5 - 40%); */
    
    box-shadow: 0 0 10px rgb(250, 233, 186);
    font-size: min(50px,3vh,5vw); /*20px 3vh*/
    transform: scale(0);
    animation: borderbreathing 4s linear infinite;
    transition: transform linear .2s;
}
.sect2_sentence a{
    color:#00fff7;
    transition: all .5s;
}
.sect2_sentence a:hover{
    background-color: rgb(250, 151, 89);
    color:white;
}
.section3{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.section3_title {
    background-color: rgb(251, 247, 234);
    height: 30vh;
    width: 100%;
    line-height: 30vh;
    text-align: center;
    font-size: 10vmin;
}
.section3_title p {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 1em;
}
.section3_content{
    padding-top: 50px;
}
.section3_content .card{
    box-shadow: 
        0px  0px  0  2px  black,
        0px 0px 5px 2px rgb(255, 255, 255);
    /* outline: solid 2px rgb(37, 37, 37) !important; 有問題*/
    isolation: isolate;  /* 新增 */
    border-radius: 25px !important;
    -webkit-border-radius:25px !important;
    margin-bottom: 50px;
    overflow: hidden;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif !important;
}
.card .card-title{
    text-align: center;
}
.section3_content a{
    background-color: rgb(60, 60, 60);
    text-decoration: none;
    color:whitesmoke;
    width: 80%;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    isolation: isolate; /* 新增 */
    border-radius: 30px !important;
    -webkit-border-radius:30px !important;
    transition: all .35s;
    /* outline: solid 2px black; 有問題的*/
    box-shadow:0  0  0  2px  black;
}
.section3_content a:hover{
    background-color: rgb(229, 229, 229);
    color:black;
}
.section4{
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}
.section4_title {
    background-color: rgb(251, 247, 234);
    height: 30vh;
    width: 100%;
    line-height: 30vh;
    text-align: center;
    font-size: 10vmin;
    overflow: hidden;
}
.section4_content{
    margin-top: 20px;
    overflow:auto;
    
}
.section4_content table{
    width: 1050px !important;
    
    position:relative;
    top: 0;
    right: 0;
    margin: auto;
}
.section4_content table th{
    color:white;
}
.section4_content table td{
    color:white;
}
.section5{
    margin-top: 50px;
    position: relative;
    width: 100%;
    background-color: red;
}
.section5_title{
    background-color: rgb(251, 247, 234);
    height: 30vh;
    width: 100%;
    line-height: 30vh;
    text-align: center;
    font-size: 10vmin;
    overflow: hidden;
}

/**********   平板規格以上 (桌機)   **********/
@media screen and (min-width:880px) { 
    
    .sect2_title{
        margin-top: max(5%,100px);
    }
    .Welcome img{
        margin-top: 20vh;
    }
    .Welcome_btn{
        height: 12vh;
    }
    .section1 {
        height: 100vh;
    }
    
    .sect1_more{
        font-size: 2vw;
    }
    .sect2_title p{
        text-shadow: 0px 0px 15px rgb(255, 153, 0);
    }
}
/**********   PC規格以上   **********/
@media screen and (min-width:1250px){
    .Welcome_btn p{
        font-size: 2.5vw;
    }
}
