*{
    padding: 0;
    margin: 0;
    list-style: none;
}
#hder{
    position: fixed;
    width: 100%;
}
.sticky{
    transition:all .7s;
    background-color: #be8d5f;
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    width: 1500px;
    margin: auto;
    overflow: hidden;
    color:black;
    background-color: #eee;
}
/* 左上角LOGO設定 */
.logo{
    width:80%;
    margin-right: 2%;
    display: flex;
    height: auto;
}
.logo img{
    padding: 3px 0 0 5px ;
    margin-right: 5px;
    vertical-align: middle; 
    width:auto;
}
.logo a{
    font-size: 35px;
    color:#111;
    text-shadow: 1.5px 1px 0.3px #999;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}
/* 控制選項 */
#menu_control{
    position: absolute;
    opacity: 0;
}

/* 漢堡選單 */
.menu_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width:40px;
    height: 40px;
    background-color: #000;
    transition: all .5s ease-in-out;
    border:1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* 漢堡選單-三條線 */
.menu_btn_burger{
    width: 30px;
    height: 2.5px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px #fb0;
    transition: all .5s ease-in-out;
}
.menu_btn_burger::before,
.menu_btn_burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2.5px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px #fb0;
    transition: all .5s ease-in-out;
}
.menu_btn_burger::before{
    transform: translateY(-8px);
}
.menu_btn_burger::after{
    transform: translateY(8px);
}

/* 漢堡選單to打叉動畫 */
#menu_control:checked ~ .menu_btn .menu_btn_burger{
    transform:translateX(-40px);
    transition: .5s;
    background:transparent;
    box-shadow: none;
    box-shadow: 0 0 0px rgb(0, 0, 0);
}
#menu_control:checked ~ .menu_btn .menu_btn_burger::before{
    opacity: 1;
    transform: rotate(45deg)
    translateX(28px)
    translateY(-28px);
}
#menu_control:checked ~ .menu_btn .menu_btn_burger::after{
    transform: rotate(-45deg)
    translateX(28px)
    translateY(28px);
}

#menu_control:checked ~ .menu{
    left:0px;
}
#menu_control:checked ~ .menu a::after{
    transition: 5s;
}
/* 選單設定 */
.menu{
    opacity: 95%;
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #111;
    color:#000;
    transition: .5s;
    left: -100%;
}
.menu a{
    background-color: #222;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    color:#fff;
    margin: 0px 15px;
    padding: 15px 25px;
    display: block;
    height: 40px;
}
.menu a::after{
    content:'';
    position: absolute;
    height: 1px;
    width:calc(100% - 30px);
    left: 15px;
    top: 80px;
    background-color: #fa0;
    margin: auto;
    box-shadow: 0px 70px 0px #fa0,
    0px 70px 0px #fa0,0px 140px 0px #fa0,
    0px 210px 0px #fa0,0px 280px 0px #fa0,
    0px 350px 0px #fa0,0px -70px 0px #fa0;
}
@media screen and (min-width:770px) and (max-width:1200px){
    .header{
        width: 100%;
        position: fixed;
        background-color: transparent;
        position: relative;
        justify-content: space-between;
        display: flex;
        
    }
    .menu_btn{
        display: none;
    }
    .menu a::after{
        display: none;
    }
    .logo{
        margin: 0;
        width:36%;
    }
    .logo img{
        margin:0;
    }
    .menu{
        margin-right: 0;
        left: 0;
        padding: 0;
        margin-right: 0%;
        display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
        position: relative;
        background-color: transparent;
        width: 100%;
        height: auto;
        font-size: 0;
    }
    .menu a{
        width: 200px;
        display:inline-block;
        text-align: center;
        margin: 0;
        padding: 0 5px;
        /* padding: 0 10px 0 0; */
        height: auto;
        width: 80px;
        color:#000;
        background-color: transparent;
        border-bottom: 1.5px solid transparent;
    }
    .menu a:hover{
        transition: all .5s;
        height: auto - 3px;
        background-color: #555;
        color:#eee;
        border-bottom: 1.5px solid #f00;
    }
    #hder {
        display: flex;
        position: fixed;
        width: 100%;
    }
}

@media screen and (min-width:1200px){
    .header{
        width: 100%;
        position: fixed;
        background-color: transparent;
        position: relative;
        justify-content: space-between;
        display: flex;
        
    }
    .menu_btn{
        display: none;
    }
    .menu a::after{
        display: none;
    }
    .logo{
        margin-left: 5%;
        width:20%;
    }
    .menu{
        left: 0;
        padding: 0;
        display: flex;
        position: relative;
        background-color: transparent;
        width: auto;
        height: auto;
        font-size: 0;
        margin-right: 10%;
    }
    .menu a{
        display:inline-block;
        text-align: center;
        margin: 0;
        padding: 0 10px;
        height: auto;
        width: 100px;
        color:#000;
        background-color: transparent;
        border-bottom: 1.5px solid transparent;
    }
    .menu a:hover{
        transition: all .5s;
        height: auto - 3px;
        background-color: #555;
        color:#eee;
        border-bottom: 1.5px solid #f00;
    }
    #hder {
        display: flex;
        position: fixed;
        width: 100%;
    }
}

.section1 {
    background-color: #deb887b9;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(80vh);
    background-size:100%;
}

.Welcome{
    display: block;
    width: 90%;
    margin: auto;
}
.Welcome img{
    display: block;
    width: 100%;
    border: 1px solid #efa;
    margin: auto;
    border-radius:1px;
    cursor: help;
}
.Welcome_btn{
    background-color: #fff;
    box-shadow: 0 0 3px #fb0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center  ;
    margin: 40px auto 10px auto;
    width:70%;
    height: 20%;
    border-radius:8px;
}
.Welcome_btn p{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center  ;
    font-size: 25px;
    color:#111;
}
.Welcome_btn :hover{
    border-radius:8px;
    transition: all .5s;
    background-color: rgb(98, 172, 241);
    cursor: pointer;

}
.sect1_more{
    width: 100%;
    height: auto;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    text-shadow: 0 0 .5px rgb(236, 0, 59);
    opacity: 80%;
}

.section2{
    background-color: #555;
    height: 100vh;
    width: 100%;
}
.sect2_title{
    padding-top: 10px;
    font-size: 50px;
    width: 100%;
    text-align: center;
}
.sect2-space1{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    width: 80%;
    height: auto;
    margin: auto;
}
.sect2-space1 img{
    width: 100%;
    box-shadow: 0 0 15px #111;
}
.sect2_sentence{
    margin: auto;
    width: 80%;
    height: auto;
    background-color: rgba(255, 233, 133, 0.144)  ;
    border-radius: 10px;
}
.sect2_sentence p{
    font-size: 30px;
}

@media screen and (min-width:768px){
    .Welcome_btn p{
        font-size: 50px;
    }
    .sect1_more{
        margin-top: 120px;
        margin-bottom: 130px;
    }
    .section1 {
        height: 100%;
    }
    .sect2-space1{
        
        width: 20%;
    }
    .sect2_sentence p{
        font-size: 60px;
    }
}
