*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header{
    background-color: #eeb;
    /* overflow: hidden;  */
    color:black;
    position: relative;
}
         
.logo{
    display: flex;
    height: 50px;
}
.logo img{
    padding: 3px 0 0 5px ;
    margin-right: 5px;
    vertical-align: middle; 
    width:auto;
}
.logo a{
    font-size: 35px;
    color:#000;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

#menu_control{
    position: absolute;
    opacity: 0;
}
.menu_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width:40px;
    height: 40px;
    background-color: #000;
}
.menu_btn p{
    opacity: 0;
}
.menu_btn::before{
    content:'';
    position: absolute;
    height: 2.5px;
    left: 5px;
    width: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 10px 0px #aaa,
                0px -10px 0px #aaa;;
    background-color: #aaa;
}


#menu_control:checked ~ .menu{
    left:0px;
}
.menu{
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #111;
    color:#fff;
    left: -100%;
    transition: .5s;
    /* position: absolute; */
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    padding: 15px 25px;
    display: block;
    height: 40px;
}
.menu a::after{
    content:'';
    position: absolute;
    height: 1px;
    width:calc(100% - 30px);
    margin: 100%;
    left: 15px;
    top: 80px;
    background-color: #fa0;
    margin: auto;
    box-shadow: 0px 70px 0px #fa0,
    0px 70px 0px #fa0,0px 140px 0px #fa0,
    0px 210px 0px #fa0,0px 280px 0px #fa0,
    0px 350px 0px #fa0,0px -70px 0px #fa0;
}
.wrap{
    font-size: 50px;
    padding: 100px;

}
